.about__container{
    
    background-color: var(--color-seccion);
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about__title{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-contraste);
    padding-left: 3rem;
}
.about__paragraph{
    line-height: 1.3rem;
    padding-left: 3rem;
    width:70%;
}

.firma{
    padding-left: 3rem;
}
@media screen and (max-width: 768px) {
    .about__paragraph{
        width:90vw;
    }
}

@media screen and (max-width: 380px){
    .about__paragraph{
        width: 350px;
        padding-left: 1rem;
    }

    .firma{
        padding-left: 0.5rem;
    }
    .about__title{
        padding-left: 1rem;
    }
}